venv
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
.idea
*.vscode
*.egg
*.egg-info
*.zip
*.tar.gz
*.tar.bz2
*.rar
*.swp
*.bak
*.tmp
*.pid
*.coverage
*.mypy_cache
*.pytest_cache
*.coverage.*
*.pkl
*.pkl.gz
*.pkl.bz2
*.pkl.xz
*.ipynb_checkpoints
*.jupyter
*.ipynb
*.csv
*.tsv
